version: '3.9'
services:
  redis:
    image: redis:7
    container_name: projects-dashboard-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  redis-data:
